body{
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	font-weight: normal;
}
#invokingrecs{
	position: relative;
	left: 20px;
	top: 10px;
	font-size: 40px;
    font-family: serif;
    font-weight: bolder;
    color: #957C3D !important;
}
a {
     color: #957C3D;
     text-decoration: none !important;
     outline: none !important;
}
.text-container{
    position: absolute;
    top: 20%;
    transform: translate(-50%);
    z-index: 1;
    left: 65%;
    right: 0;
    color: white;
}
.header{
    background-color: #002349;
    width: 100%;
    height: 100px;
}
.btn-custom{
    color: #957c3d;
    font-family: serif;
    font-size: 22px;
    border-radius: 5px solid #957c3d;
}
.btn-custom:hover{
    color: #ffffff;
}
.dropdown{
   position: relative;
   right: 0;
   bottom: 30px;
   padding-left: 650px;
}
.dropdown-menu{
    color: #957c3d;}

.about {
     background-position: center center;
     padding: 90px 0px;
}
 .aboutheading {
    text-align: center;
    padding-bottom: 50px;
}
 .aboutheading h2 {
     padding: 0px 0px 20px 0px;
     font-size: 50px;
     font-weight: bold;
     color: #002349;
     line-height: 50px;
}
.aboutheading span {
     color: black; 
     font-size: 17px;
     line-height: 32px;
}
.black {
    color: #957C3D 
}
 .about .about-box p {
    font-size: 17px;
     line-height: 32px;
     color: #141012;     
}
.border {
    border-radius: 30px; 
    border: #002349 solid 2px !important;
    padding: 40px 40px;
} 
 .working .titlepage {
     text-align: center;
     padding-bottom: 54px;
}
 .working .titlepage h2 {
     padding: 0px 0px 20px 0px;
     font-size: 50px;
     font-weight: bold;
     color: #002349;
     line-height: 50px;
}
 .working .titlepage span {
    color:#141012; 
     font-size: 17px;
     line-height: 32px;
}
 .how .titlepage {
     padding-bottom: 54px;
}
.how .titlepage h2 {
     padding: 0px 0px 20px 0px;
     font-size: 50px;
     font-weight: bold;
     color: #002349;
     line-height: 50px;
}
.how .titlepage span {
    color:#141012; 
     font-size: 17px;
     line-height: 32px;
}
.read-more {
    justify-content: center;
    display: flex;
}
figure{
   align:left;
}
.read-more a{
     width: 200px;
     font-size: 17px;
     font-weight: bold;
     padding: 20px 0px;
     background-color: #002349;
     color: #957C3D;
     display: inline-block;
     line-height: 20px;
     border-radius: 30px;
     text-align: center;
     margin-top: 30px;
 }
 .read-more a:hover {
    background-color:  #ffffff;
}
.footer{
    background-color: #002349;
    color: white;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 40px;
}
*,
*:before,
*:after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
input,button {
 border: none;
 outline: none;
 background: none;
 font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.tip {
 font-size: 20px;
 margin: 40px auto 50px;
 text-align: center;
}
.cont {
 border-radius: 20px;
 overflow: hidden;
 position: relative;
 width: 900px;
 height: 550px;
 margin: 0 auto 100px;
 background: rgba(255, 255, 255, 1);
}
.form {
 position: relative;
 width: 640px;
 height: 100%;
 -webkit-transition: -webkit-transform 1.2s ease-in-out;
 transition: -webkit-transform 1.2s ease-in-out;
 transition: transform 1.2s ease-in-out;
 transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
 padding: 50px 30px 0;
}
.sub-cont {
 overflow: hidden;
 position: absolute;
 left: 640px;
 top: 0;
 width: 900px;
 height: 100%;
 padding-left: 260px;
 background: #ffffff;
 -webkit-transition: -webkit-transform 1.2s ease-in-out;
 transition: -webkit-transform 1.2s ease-in-out;
 transition: transform 1.2s ease-in-out;
 transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.cont.s--signup .sub-cont {
 -webkit-transform: translate3d(-640px, 0, 0);
 transform: translate3d(-640px, 0, 0);
}
button {
 display: block !important;
 margin: 0 auto;
 width: 260px;
 height: 36px;
 border-radius: 30px !important;
 font-size: 15px;
 cursor: pointer !important;
 text-align: center !important;
}
.img {
 overflow: hidden;
 z-index: 2;
 position: absolute;
 left: 0;
 top: 0;
 width: 260px;
 height: 100%;
 padding-top: 360px;
}
.img:before {
 content: '';
 position: absolute;
 right: 0;
 top: 0;
 width: 900px;
 height: 100%;
 background-image: url("ext.jpg");
 opacity: .8;
 background-size: cover;
 -webkit-transition: -webkit-transform 1.2s ease-in-out;
 transition: transform 1.2s ease-in-out;
 transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img:after {
 content: '';
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 33, 73, 1);
}
.cont.s--signup .img:before {
 -webkit-transform: translate3d(640px, 0, 0);
 transform: translate3d(640px, 0, 0);
}
.img__text {
 z-index: 2;
 position: absolute;
 left: 0;
 top: 50px;
 width: 100%;
 padding: 0 20px;
 text-align: center;
 color: #fff;
 -webkit-transition: -webkit-transform 1.2s ease-in-out;
 transition: -webkit-transform 1.2s ease-in-out;
 transition: transform 1.2s ease-in-out;
 transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img__text h2 {
 margin-bottom: 10px;
 font-weight: normal;
}
.img__text p {
 font-size: 14px;
 line-height: 1.5;
}
.cont.s--signup .img__text.m--up {
 -webkit-transform: translateX(520px);
 transform: translateX(520px);
}
.img__text.m--in {
 -webkit-transform: translateX(-520px);
 transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}
.img__btn {
 overflow: hidden;
 z-index: 2;
 position: relative;
 width: 100px;
 height: 36px;
 margin: 0 auto;
 background: transparent;
 color: #ffffff;
 text-transform: uppercase;
 font-size: 15px;
 cursor: pointer;
}
.img__btn:after {
 content: '';
 z-index: 2;
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 border: 2px solid #fff;
 border-radius: 30px;
}
.img__btn span {
 position: absolute;
 left: 0;
 top: 0;
 display: -webkit-box;
 display: flex;
 -webkit-box-pack: center;
 justify-content: center;
 -webkit-box-align: center;
 align-items: center;
 width: 100%;
 height: 100%;
 -webkit-transition: -webkit-transform 1.2s;
 transition: -webkit-transform 1.2s;
 transition: transform 1.2s;
 transition: transform 1.2s, -webkit-transform 1.2s;
}
.img__btn span.m--in {
 -webkit-transform: translateY(-72px);
 transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
 -webkit-transform: translateY(72px);
 transform: translateY(72px);
}
h2 {
 width: 100%;
 font-size: 26px;
 text-align: center;
 font-weight: bold;
 color: black;
}
label {
 display: block;
 width: 260px;
 margin: 25px auto 0;
 text-align: center;
}
label span {
 font-size: 12px;
 color: #002349;
 text-transform: uppercase;
}
input[type="text"], input[type="password"],input[type="email"] {
 display: block;
 width: 100%;
 margin-top: 5px;
 padding-bottom: 5px;
 font-size: 16px;
 border-bottom: 1px solid rgba(0, 0, 0, 0.4);
 text-align: center;
}
.forgot-pass {
 margin-top: 15px;
 text-align: center;
 font-size: 12px;
 color: #002349;
}
.submit {
 margin-top: 40px;
 margin-bottom: 20px;
 background: #957C3D;
 text-transform: uppercase;
}
.fb-btn {
 border: 2px solid #957C3D;
 color: #002349
}
.fb-btn span {
 font-weight: bold;
 color: #002349;
}
.sign-in {
 -webkit-transition-timing-function: ease-out;
 transition-timing-function: ease-out;
}
.cont.s--signup .sign-in {
 -webkit-transition-timing-function: ease-in-out;
 transition-timing-function: ease-in-out;
 -webkit-transition-duration: 1.2s;
 transition-duration: 1.2s;
 -webkit-transform: translate3d(640px, 0, 0);
 transform: translate3d(640px, 0, 0);
}
.sign-up {
 -webkit-transform: translate3d(-900px, 0, 0);
 transform: translate3d(-900px, 0, 0);
}
.cont.s--signup .sign-up {
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
}

.scroll-container{
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
}
.scroll-item{
    display: inline-block;
    width: 200px;
    margin-right: 15px;
    background-color: #f8f9fa;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 150x;
}
.scroll-item img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}
.scroll-item h5{
    margin-top: 10px;
}

.btn-primary{
    background-color: #002349;
    border-radius: 5px !important;
}

.btn-primary:hover{
    background-color: #002349;
    touch-action: #002349;
}
.book-card {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.card img {
    max-height: 200px;
}
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card .btn {
    margin-top: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.floating-btn-container{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    display: flex;
    align-items: center;
}
.floating-btn{
    background: #002349;
    color: #957C3D;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.4s ease-in-out;
    white-space: nowrap;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.floating-btn:hover {
    width: 200px;
}
.floating-btn span{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding-left: 10px;
    font-size: 14px;
    color: #957C3D;
}
.floating-btn:hover span{
    opacity: 1;
    text-decoration: none;
}
.floating-btn img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}
.floating-btn:hover img{
    transform: scale(1.1);
}
@keyframes autoCollapse{
    0% { width: 200px; }
    100% { width:60px; }
}
.chat-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.chat-container {
 width: 100%;
 max-width: 600px;
 height: 80vh;
 display: flex;
 flex-direction: column;
  background: white;
 border-radius: 10px;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
 overflow: hidden;
}
.chat-header {
 background: #002349;
 color: #957C3D;
 padding: 15px;
 text-align: center;
 font-weight: bold;
}
.chat-body {
flex: 1;
overflow-y: auto;
padding: 15px;
display: flex;
flex-direction: column;
}
.chat-message {
padding: 12px;
border-radius: 10px;
margin-bottom: 10px;
max-width: 75%;
}
.user-message {
background: white;
color: #000000;
align-self: flex-end;
}
.bot-message {
background: #ffffff;
color: #000000;
align-self: flex-start;
}
.chat-footer {
display: flex;
padding: 15px;
background: #ffffff;
border-top: 1px solid #002349;
}
.form-control {
flex: 1;
border: none;
border-radius: 20px;
padding: 10px;
background: #ffffff;
}
.btn-send {
background-color: #002349;
border: none;
color: #957C3D;
font-weight: bold;
padding: 10px 20px;
border-radius: 20px;
margin-left: 10px;
width: 100px;
}
.btn-send:hover {
background-color: #957C3D;
}
.bd-container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bk-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.book-details {
    flex: 1;
    text-align: left;
    padding-left: 30px;
}

.book-image {
    flex: 1;
    height: 200px
    width: 150px
    text-align: right;
}

.book-image img {
    max-width: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
    color: #957C3D;
    background: #002349;
    border-radius: 5px;
    margin-top: 20px;
}

.btn-secondary:hover {
    color: #ffffff;
    background-color: #00172D;
}
